.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indexHeader {
    font-size: 10vmax;
    // max-width: 80%;
    font-family: 'PP Monument Extended';
}

/* Avatar sizes (default is M) - XS, S, M, L, XL */
.authorImageWrapper img.size-xs {
    height: 7rem;
    width: 7rem;
}

.authorImageWrapper img.size-s {
    height: 9rem;
    width: 9rem;
}

.authorImageWrapper img.size-m {
    // height: 11rem;
    // width: 11rem;
    width: 50vmax;
    // max-width: 10vmax;
}

.authorImageWrapper img.size-l {
    height: 13rem;
    width: 13rem;
}

.authorImageWrapper img.size-xl {
    height: 15rem;
    width: 15rem;
}
